.homepage-text {
 .plain-text, .live-text {
  width: 80%;
  margin: 0 auto;
  padding: 0 0 20px 0;
  h1 {
    text-align: center;
  }
 }
 textarea {
  min-height: 150px;
 }
}

.homepage-logo-strip {
  position: relative;
  img {
    width: 100%;
  }
  .attachinary_container {
    img {
      width: auto;
    }
  }
}

.company-services {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.btn-home {
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  transition: all ease 0.2s;
  &:hover {
    background: white
  }
}

.btn-shop {
  background: #F8C5CA;
  border: 1px solid #ff6674;
  margin-right: 40px;
  &:hover {
    color: #ff6674;
  }
}

.btn-garde {
  background: #1db7ac;
  border: 1px solid #00a599 ;
  margin-left: 40px;
    &:hover {
    color: #00a599;
  }
}

.company-services-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;

  .btn-shop {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .btn-garde {
    margin-left: 0px;
  }
}

.home-page-ceramique-container {
  margin-bottom: 50px;
}

.home-page-ceramique-list {
  width: 100%;
}
