.garde-domicile {
  margin-bottom: 10px !important;
   h2 {
    text-align: justify;
   }
  h2.mobile {
    font-size: 28px;
    margin-top: 11px;
  }
}

#new_user {
  width: 90%;
  margin: 0 auto;

  textarea {
    min-height: 200px;
  }
}

